<nav class="bg-red-500">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div
        class="
          flex flex-1 items-center justify-center sm:items-stretch sm:justify-start
        "
      >
        <div class="flex shrink-0 items-center">
          <%= link_to(image_tag("logo.svg", class: "h-8 w-auto"), madmin_root_path) %>
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <% Madmin.menu.render do |item| %>
              <% if item.url %>
                <%= nav_link_to item.label,
                item.url,
                starts_with: item.url,
                class: "rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" %>
              <% end %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>

</nav>
